:root {
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Light-gray);
}
main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  max-width: 320px;
  padding: 16px;
}

main img {
  width: 100%;
  border-radius: 10px;
}
main .text h1 {
  color: var(--Dark-blue);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 20px 0;
}
main .text p {
  color: var(--Grayish-blue);
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.2px;
  margin-bottom: 20px;
}